arronax/
autostart/
obs-studio/
htop/
bashtop/
cef_user_data/
cni/
com.kdocker/
dconf/
discord/
Discord/
dolphinrc
dots/
easyeffects/
Electron/
Element/
filezilla/
fontforge/
ghb/
JetBrains/
jgit/
kate/
katemetainfos
katerc
katevirc
KDE/
kde.org
kwriterc
Mesen2/
mimeapps.list
pulse/
QtProject.conf
session/
spicetify/
spotify/
sqlitebrowser/
Thunar/
toolbox/
trashrc
Vencord/
vlc/
xfce4/
xournalpp/
yay/
.avalonia-build-tasks
gtk-2.0/
gtk-4.0/
Insomnia/
qimgv/
