arronax/
copyq/
autostart/
obs-studio/
htop/
bashtop/
cef_user_data/
cni/
com.kdocker/
dconf/
discord/
depot_tools/
Discord/
discord/
dolphinrc
dots/
easyeffects/
Electron/
Element/
evolution/
filezilla/
flameshot/
fontforge/
geary/
go/
goa-1.0/
Insomnia/
libreoffice/
mpv/
onlyoffice/
processing/
pulse/
qBittorrent/
qimgv/
rclone/
spicetify/
spotify/
ghb/
JetBrains/
jgit/
kate/
katemetainfos
katerc
katevirc
KDE/
kde.org
kwriterc
Mesen2/
mimeapps.list
pulse/
QtProject.conf
session/
sqlitebrowser/
Thunar/
toolbox/
trashrc
Vencord/
vlc/
xfce4/
xournalpp/
yay/
.avalonia-build-tasks
gtk-2.0/
gtk-4.0/
Insomnia/
qimgv/
